@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@mixin button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(213.33deg 18.67% 24.67%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  hsl(216, 12%, 8%);
    margin: 0;
}
.card{
    background-color:hsl(213, 19%, 18%) ; 
    padding: 32px;
    border-radius: 16px;
    font-family: "Overpass", sans-serif;
    width: 380px;
    .image{
        @include button;
    }   
}
.title{
    color: hsl(0, 100%, 100%);
    font-weight: 700;
    font-size: 24px;
    padding: 16px 0;
}
.text{
   color: hsl(217, 12%, 63%);
   font-weight: 400;
   padding: 16px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .button{
        color: hsl(0, 100%, 100%);
        @include button;
        padding: 16px 0;
    
        &:hover{
            background-color: hsl(25, 97%, 53%);
            cursor: pointer;
            color :hsl(213, 19%, 18%) ;
        }
    }
}
.submit{
    width: 100%;
    height: 50px;
    border-radius: 24px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(213, 19%, 18%);
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    margin-top: 16px;
    border: 2px solid hsl(25, 97%, 53%);
    text-transform: uppercase;

    &:hover{
        background-color: hsl(0, 100%, 100%) ;
        color: hsl(216, 12%, 8%);
        cursor: pointer;
    }
}
// css thank you card
.final{
    text-align: center;

    .thank-you{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }
    .selected{
        background-color:  hsl(213.33deg 18.67% 24.67%);
        color: hsl(25, 97%, 53%);
        border-radius: 24px;
        padding: 8px 16px;
        display: inline-block; 
    }
}